@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.video-zoom {
  transform: translate3d(150px, -150px, 0px) scale(1.2);
  transition: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;

  @media (min-width: 560px) and (max-width: 768px) {
    transform: translate3d(150px, -150px, 0px) scale(1.2);
  }
  
  @media (min-width: 769px) and (max-width: 1240px) {
    transform: translate3d(300px, -400px, 0px) scale(1.5);
  }

  @media (min-width: 1240px) {
    transform: translate3d(0px, -450px, 0px) scale(1);
    //transform: translate3d(0px, -150px, 0px) scale(1.5);
    //transform: translate3d(-1000px, -1000px, 0px) scale(0.75);
  }
}

.video-zoom-pacts {
  transition: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.video-zoom-evolution {
  transition: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.video-without-zoom {
  transition: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba($color: #000000, $alpha: 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
